@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

* {
  margin: 0;
  padding: 0;

	overflow: hidden;
	user-select: none;
}


body, #main, #overlay, #node-graph {
	position: fixed;
	top:0; left:0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}


#transform-wrapper {
	position: absolute;
	display: block;

	top: 0; left: 0;
	overflow: visible;
} 

#background-example-text {
	text-align: justify;
}

#overlay {
	pointer-events: none;
}
#overlay > * {
  pointer-events: all;
}




.graph-node {
	position: absolute;
	top:0; left:0;
	font-size: 14px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}


.property {
	height: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: stretch;
	justify-content: space-between;
}

/* align input items to the left by filling space with the name */
.property > .title {
	text-align: left;
	margin-right: 6px;
	flex-grow: 1;
}

.property.main > .title {
	text-align: center;
}

/* override priority, maximise text input size */
.property > input[type="text"], .property > input[type="number"] {
	flex-grow: 100;
}

.main.property > .title {
	font-weight: 700;
}

.property input {
	font-size: 0.7em;
	width: 10px;
}

.connector {
	width: 4px;
	height: 100%;
}

.left.connector {
	margin-right: 6px;
}

.right.connector {
	margin-left: 6px;
}

.inactive.connector {
	opacity: 0;
}

.connect-dragging .property:not(.connectable-input) {
	pointer-events: none;
}
