
* {
  margin: 0;
  padding: 0;

	overflow: hidden;
}


body, #main, #overlay, #node-graph, #connection-graph, #example-text {
	position: fixed;
	top:0; left:0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#node-graph :not(input) {
  user-select: none; /* wont work for double click */
}
#node-graph :not(input)::selection {
  color: inherit;
	background: transparent; /* user-select:none wont work for double click */
}


.transform-wrapper {
	position: absolute;
	display: block;

	top: 0; left: 0;
	overflow: visible;
} 

#example-text {
  font-size: 1.2em;

  overflow: hidden;
  box-sizing: border-box;
  padding: 70px 12px 12px 12px;
  text-align: justify;
  resize: none;
  white-space: pre-line; /* required for align:justify in a textarea */

	user-select: auto;
	pointer-events: all;
}

.editing-example-text #example-text {
}

.editing-example-text #connection-graph, .editing-example-text #node-graph {
  display: none;
}

#overlay {
	pointer-events: none;
}
#overlay > * {
  pointer-events: all;
}

#overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  padding: 8px;
  height: 42px;
}
header h1 {
  font-size: 24px;
  font-weight: normal;
  display: inline;
  margin-left: 16px;
}
header a {
  margin-left: 12px;
  font-size: 18px;
}
header a, header h1 {
  transform: translate(0px, -10px);
}
header img {
  display: inline-block;
  height: 100%;
}

#edit-example {
  padding: 20px;
  user-select: none; /* FIXME wont work for double click */
  cursor: pointer;
}
#edit-example::selection {
  color: inherit;
	background: transparent; /* user-select:none wont work for double click */
}

#search {
  position: fixed;
  top: 8px;
  left: 33vw;
  width: 33vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#search input {
  font-size: 18px;
  padding: 8px;
  box-sizing: border-box;
}

#search #results {
  cursor: pointer;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#search #results > * {
  font-size: 18px;
  padding: 6px;
}

#expression-result {
  text-align: center;
  font-size: 28px;
  padding: 12px;
}


.graph-node {
	position: absolute;
	top:0; left:0;
	font-size: 14px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}


.property {
	height: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: stretch;
	justify-content: space-between;
}

/* align input items to the left by filling space with the name */
.property > .title {
	text-align: left;
	margin-right: 6px;
	flex-grow: 1;
}

/*.property.main*/ .property:first-child > .title {
	text-align: center;
	font-weight: 700;
}

/* override priority, maximise text input size */
.property > .chars.input, .property > .int.input {
	flex-grow: 100;
}


.property input {
  padding: 2px;
	font-size: 0.7em;
	width: 10px;
}

.connector {
	width: 4px;
	height: 100%;
}

.left.connector {
	margin-right: 6px;
}

.right.connector {
	margin-left: 6px;
}

.inactive.connector {
	opacity: 0;
}

.connect-dragging .property:not(.connectable-input) {
	pointer-events: none;
}


.connection {
	stroke-linecap: round;
	stroke-width: 3;
	fill: none;
}
